// Place all the styles related to the tweetsctlr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul,
li{
	margin: 0;
	padding: 0;
}

header a,
header a:hover,
header a:active{
	color: white;
	text-decoration: none;
}

body{
	background : #e6e6e6;
	margin: 0 auto;
	font-family: 'Slabo 27px', serif;
}

.header-wrapper{
	min-height: 80px;
	background: rgba(128, 128, 128, 0.38);
	padding: 10px 20px;
	color: white;
	text-align:center;
}

header h1,
header h2{
	display: inline-block;
}

.input-container{
	margin-top: 20px;
	margin-bottom: 10px;
}

.input-container label{
	font-size: 18px;
	line-height: 2;
}

.txt-box{
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	height: 35px;
	border: 1px solid rgba(128,128,128,0.56);;
}

.btn{
  background: rgba(128, 128, 128, 0.56);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.container{
	margin-top: 30px;
}

.txt-center{
	text-align: center;
}

.warning{
	color: red;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
}

.tweets-container{
	margin: 10px 5px;
	padding: 0px 5px;
}

.tweet{
	background: rgba(194, 188, 188, 0.45);
	margin: 10px 5px;
	padding: 20px;
	border-radius: 5px;
}

.tweet li{
	height: 30px;
}

.tweet img{
	display : block;
	float:left;
	height: 100%
}

.tweet-data{
	display: block;
	padding-left: 10px;
	overflow: hidden;
	height: 100%;
}

.tweet a{
	display: block;
}

ul li{
	list-style-type: none;
}

.wn{
	font-size: 18px;
}

.footer-wrapper{
	margin: 10px auto;
	padding: 10px;
	color: black;
}

@media screen and (max-width:320px) {
	.txt-box {
		width: 40% !important;
	}
	.btn { 
		margin-top:10px !important;
		padding-left:35px !important;
		padding-right: 35px !important;
	}
}